.form {
    border-radius: 15px;
    border-color: teal;
    background-color: white;
    margin: 10px auto;
    margin-top: 150px;
}

.form__header {
    font-size: 20px;
    text-align: center;
    padding: 10px
}

.form__label {
    padding-left: 20px;
}

.form__field {
    background-color: #0000000d;
    border-radius: 5px;
    border: solid black;
    margin-left: 5px;
    height: 30px;
    width: 230px;
    padding-left: 5px;
}