html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-size: 18px;
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'PT Sans', sans-serif;
    background-image: url("../jpg/currencies.jpg");
    background-size: cover

}
